@import "fonts.css";

*,
*::before,
*::after{
  box-sizing: border-box;
}

:root {
  --clr-background: #1B1013;
  --clr-menu: #828282;
  --clr-fonts: #FFFFFF;
  --clr-events: #D61518;
  --clr-home-ranking: #F18C2F;

}

body {
  font-family: oswald;
  line-height: 1.18;
}

header {
  background: #1B1013;
  opacity: 0.85;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
}

.top {
  width: 1920px;
  height: 1018.06px;
  left: 1px;
  top: 2.23px;
  background: url(../images/ryu-bg.png);
}


.logo {
  width: 76.44px;
  height: 108.06px;
  left: 5.63%;
  right: 90.39%;
  top: 14.09%;
  bottom: 12.08%;
}

.nav {
  display: flex;

}

.menu {
  display: flex;
  margin:0;
  left: 0;
  list-style-type: none;
  font-size: 1rem;

}

.menu-item {

}

.menu-link {

}

.social-media {

}

.social-media-icons {

}

.twitch-icon{

}
.youtube-icon{

}
.facebook-icon{

}

.home-highlight {
  display: flex;
}

.home-events{
  display: flex;
  background: url(../images/BGEffectselement.png);
  background: #1B1013;
  

}

.home-seed {

}

.home-news {

}

.home-videos {

}

.home-tesa {

}

.home-contact {

}